body {
  padding: 0.5;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif !important;
}

.breadcrumb {
  list-style: none;
  display: inline-block;
}
.breadcrumb li {
  background-color: transparent !important;
  cursor: pointer !important;
  text-decoration: none !important;
  font-size: 20px;
  line-height: 30px;
  color: #838384;
  opacity: 0.9;
  display: inline;
}
.breadcrumb li a {
  text-decoration: none !important;
  color: #838384;
}
.breadcrumb li a:hover {
  color: #1CAF37 !important;
}