@import url("https://fonts.googleapis.com/css?family=Poppins");
.slide-page {
  font-family: "Poppins", sans-serif;
}
.slide-page .no-scroll {
  overflow: hidden;
}
.slide-page .slick-slide {
  padding: 2em 0.5em;
}
.slide-page .card-slider {
  margin: auto;
  width: 100%;
}
.slide-page .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.slide-page .slick-prev {
  margin-left: 2% !important;
  z-index: 99;
  width: 40px !important;
  height: 40px !important;
}
.slide-page .slick-next {
  margin-right: 2% !important;
  z-index: 99;
  width: 40px !important;
  height: 40px !important;
}
.slide-page *,
.slide-page *::before,
.slide-page *::after {
  box-sizing: border-box;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card {
  background: #fff;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0 30px 50px -25px rgba(0, 0, 0, 0.25);
}
.slide-page .container-slide-page .card-slider .card-wrapper .card > * {
  transition: opacity 350ms;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card--opened > * {
  opacity: 0;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #2fd4dc;
  z-index: -1;
  text-align: left;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .card__background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .card__background .blend-image {
  filter: brightness(250%) grayscale(100%);
  mix-blend-mode: screen;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .card__background .center-image, .slide-page .container-slide-page .card-slider .card-wrapper .card .card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .card__title {
  text-transform: uppercase;
  margin: 0 0 0.5em 0 !important;
  font-size: 1.5rem;
  color: #fff;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .content-card {
  min-height: 100px;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .content-card .container-content-card {
  width: 60%;
  padding: 0 10px 10px 0;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .content-card .container-content-card .card__duration {
  color: #fff;
  font-size: 0.8rem;
  font-style: italic;
  text-align: justify;
}
.slide-page .container-slide-page .card-slider .card-wrapper .card .card__category {
  color: #fff;
  background: #0FC44C;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.2em 0.5em 0.25em;
  border-radius: 5px;
  margin-top: 0.5em;
  border: none;
}
.slide-page .modal-wrapper,
.slide-page .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slide-page .overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease;
}
.slide-page .modal-wrapper {
  display: flex;
}
.slide-page .modal-wrapper .modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 20px;
}
.slide-page .modal-wrapper .modal .modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}
.slide-page .modal-wrapper .modal .modal__scroll-area .modal__header {
  text-align: center;
  position: relative;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}
.slide-page .modal-wrapper .modal .modal__scroll-area .modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}
.slide-page .modal-wrapper .modal .modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: #2e5f80;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
}

[data-modal-state=closed] .modal-wrapper {
  pointer-events: none;
}
[data-modal-state=closed] .overlay {
  pointer-events: none;
}
[data-modal-state=closed] .modal {
  opacity: 0;
}
[data-modal-state=closed] .overlay {
  opacity: 0;
}

[data-modal-state=opening] .modal__header,
[data-modal-state=opening] .modal__content,
[data-modal-state=opening] .modal__close-button,
[data-modal-state=closing] .modal__header,
[data-modal-state=closing] .modal__content,
[data-modal-state=closing] .modal__close-button {
  opacity: 0;
}

[data-modal-state=opening] .overlay {
  transition: opacity 500ms ease;
}

[data-modal-state=closing] .overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

[data-modal-state=open] .modal__header,
[data-modal-state=open] .modal__content {
  transition: opacity 450ms;
}