.modal-backdrop {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1040 !important;
}

.custom-modal-width {
  max-width: 1200px !important;
}
.custom-modal-width .modal-content {
  position: relative;
  height: 5%;
}
.custom-modal-width .modal-content .btn-close {
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 50%;
  z-index: 2;
  background-color: #757575;
  padding: 10px;
  font-size: 1em;
}
.custom-modal-width .modal-content .btn-close:hover {
  background-color: red;
  color: #fff !important;
  -webkit-text-emphasis-color: #fff;
          text-emphasis-color: #fff;
}
.custom-modal-width .product-detail {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.custom-modal-width .product-detail .title-area {
  font-size: 20px !important;
  font-weight: 400px !important;
  opacity: 0.9 !important;
}
.custom-modal-width .product-detail span {
  font-size: 12px;
}
.custom-modal-width .product-detail ul li {
  margin-right: 25px;
  font-weight: lighter;
  cursor: pointer;
}
.custom-modal-width .product-detail li.active {
  border-bottom: 3px solid silver;
}
.custom-modal-width .product-detail .product-detail-container .row .item-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F8F8F8;
  border-radius: 5px;
}
.custom-modal-width .product-detail .product-detail-container .row .item-photo .image-container {
  position: relative;
}
.custom-modal-width .product-detail .product-detail-container .row .item-photo #product-image {
  width: 100%;
  display: block;
  cursor: none;
}
.custom-modal-width .product-detail .product-detail-container .row .item-photo .magnifier {
  position: absolute;
  display: none;
  border: none;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  pointer-events: none;
  cursor: none;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .part-of-card {
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card {
  padding: 10px;
  margin-top: 0;
  font-size: 1.5rem !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .name-product {
  font-size: 1.8rem;
  color: #000;
  font-weight: 400 !important;
  opacity: 0.7;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .rating-comments {
  margin-bottom: 5px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .rating-comments .rating .star-rating {
  position: relative;
  display: inline-block;
  font-size: 1rem;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .rating-comments .rating .star-rating svg {
  position: relative;
  z-index: 1;
  color: #DFE0E2;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .rating-comments .rating .star-rating svg.active {
  color: gold !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .rating-comments .rating .star-rating svg::before {
  content: "\f005";
  position: absolute;
  z-index: 0;
  color: #DFE0E2;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .rating-comments .text-in-card-information {
  color: #000;
  opacity: 0.5;
  font-size: 1rem !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .container-button-in-card .button-in-card {
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #F2F3F5;
  background-color: #fff;
  transition: all 0.3s ease;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .container-button-in-card .button-in-card .link-button-in-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #1CAF37;
  transition: all 0.3s ease;
  font-size: 1rem;
  padding: 5px !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .container-button-in-card .button-in-card .link-button-in-card svg {
  margin-right: 10px !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .container-button-in-card .button-in-card:hover {
  background-color: #1CAF37;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .header-card .container-button-in-card .button-in-card:hover .link-button-in-card {
  text-decoration: none;
  color: #fff;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card {
  padding: 10px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .price-container {
  text-align: left;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .price-container .sale-price {
  padding-left: 20px;
  font-size: 30px;
  color: #C31A24;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .price-container .full-price {
  padding-left: 5px;
  color: #000;
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  text-decoration-thickness: 2px;
  font-size: 16px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .price-container .in-stock {
  padding-left: 20px;
  font-size: 15px;
  color: #F67E3C;
  opacity: 0.7;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .button-container .section .btn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #F2F3F5;
  background-color: #fff;
  text-align: left;
  margin-bottom: 5px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .button-container .section .btn .glyphicon {
  font-size: 12px;
  text-decoration-line: none;
  margin-right: 20px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .button-container .section .btn .button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  opacity: 0.5;
  color: #000;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .button-container .section .btn .button-to-cart-sp:hover,
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .button-container .section .btn .button-to-detail-sp:hover {
  color: #1CAF37;
  opacity: 1;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .body-card .price-cart-favorite .button-container .section .btn .button-to-favorite-list-sp:hover {
  color: #C31A24;
  opacity: 1;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .bottom-card {
  padding: 10px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .bottom-card .section .title-description {
  font-weight: 400 !important;
  opacity: 0.8;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .bottom-card .section .content-description {
  color: #000;
  opacity: 0.5;
  font-size: 1rem !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section {
  padding-top: 5px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .title-delivery-information {
  margin-left: 10px;
  font-weight: 400 !important;
  opacity: 0.8;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information {
  margin-left: 3px;
  font-size: 12px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information svg {
  margin-right: 10px;
  color: #000;
  opacity: 0.5;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .shipping-information-top {
  padding: 5px 15px;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .shipping-information-top .container-shipping-information-top {
  margin-right: 8px !important;
  padding: 5px !important;
  border-radius: 5px;
  border: 1px solid #f2f3f5;
  background-color: #f5f5f5;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .shipping-information-top .container-shipping-information-top .address-store {
  font-weight: 400 !important;
  color: #000;
  opacity: 0.7;
  font-size: 1rem !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .shipping-information-top .container-shipping-information-top .title-si {
  display: flex;
  align-items: center;
  line-height: 1.5rem !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .shipping-information-top .container-shipping-information-top .status-si {
  font-size: 0.9rem;
  font-weight: 400;
  color: #1CAF37;
  opacity: 0.9;
  line-height: 1.5rem !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .table-user-information {
  margin: -8px !important;
  font-size: 0.9rem !important;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .table-user-information .table {
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .table-user-information .table thead th {
  font-weight: bold;
  color: #000;
  opacity: 0.8;
  background-color: #f5f5f5;
}
.custom-modal-width .product-detail .product-detail-container .row .card-information .delivery-information .section .content-delivery-information .table-user-information .table tbody tr td {
  vertical-align: middle;
  color: #000;
  opacity: 0.5;
}

.splide:hover .splide__arrows {
  display: block;
}
.splide .splide__arrows {
  display: none;
}
.splide .splide__arrows .splide__arrow--prev {
  width: 40px;
  height: 40px;
  background-color: #fff !important;
  left: -5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  opacity: 2;
}
.splide .splide__arrows .splide__arrow--next {
  width: 40px;
  height: 40px;
  background-color: #fff !important;
  right: -5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  opacity: 2;
}
.splide .splide__arrows .splide__arrow svg {
  transition: all 0.2s ease;
}
.splide .splide__arrows .splide__arrow svg:hover {
  fill: #1CAF37;
}
.splide .splide__track .splide__list .splide__slide {
  padding: 15px 10px 15px 5px;
}
.splide .splide__track .splide__list .splide__slide .product {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #DFE0E2 !important;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
.splide .splide__track .splide__list .splide__slide .product:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top: -5px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .image-product img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor {
  padding-top: 0px;
  text-align: left;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general {
  font-weight: 600;
  margin-left: 5px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .name-product {
  font-size: 1.1rem;
  line-height: 1.2;
  height: 2.4em;
  margin-bottom: 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  font-weight: 400 !important;
  opacity: 0.8;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* max lines to display */
  -webkit-box-orient: vertical;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-star-and-sale {
  text-align: center;
  align-items: center;
  padding-left: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-star-and-sale .rated-star svg {
  font-size: 1.1rem;
  margin-top: 0.5rem !important;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-star-and-sale .tag-product {
  z-index: 2;
  font-size: 1rem !important;
  margin: 0.5rem;
  color: #fff;
  padding: 1px 1px;
  border-radius: 5px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info {
  font-size: 1.1rem;
  margin-top: 0.2rem !important;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .product-description {
  padding-right: 10px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .tag-prices {
  padding-right: 0 !important;
  width: 100% !important;
  display: flex;
  background: #fff !important;
  border: none !important;
  align-items: center !important;
  text-align: left !important;
  justify-content: center;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .tag-prices .tag-sale-price {
  border-color: transparent;
  font-size: 1.5rem;
  color: #C31A24;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .tag-prices .tag-full-price {
  font-size: 1rem;
  color: #757575;
  margin-left: 10px;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(131, 131, 131, 0.4);
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .button-infor {
  align-items: center !important;
  text-align: center !important;
  justify-content: center;
  padding: 0 !important;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .button-infor button {
  padding: 0 !important;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .button-infor .more-infor {
  width: 40%;
  height: 30px;
  background: transparent;
  border: none;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .button-infor .more-infor a {
  text-decoration: none !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200px;
  font-size: 1.3rem;
  line-height: 29px;
  color: #000;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .button-infor .to-cart {
  width: 40%;
  height: 30px;
  background: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 29px;
  text-align: center;
  color: #000;
  border: none;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .button-infor svg {
  color: #1CAF37;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .product-general .product-info .button-infor svg:hover {
  scale: 1.3;
  cursor: pointer;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .price-general {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0px;
  margin-right: 15px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .price-general .container-price-general {
  background-color: #0FC44C;
  border-radius: 5px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .price-general .container-price-general .product-line-price {
  font-size: 25px;
  color: #fff;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .quantity-general {
  position: absolute;
  top: 0;
  right: 0;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .quantity-general .quantity .quantity-input {
  margin: auto;
  width: 80px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .quantity-general .product-removal {
  padding-left: 20px;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .quantity-general .product-removal .remove-product {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  background-color: #C31A24;
  transition: all 0.7 ease;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .quantity-general .product-removal .remove-product svg {
  color: #fff;
  transition: all 0.7 ease !important;
}
.splide .splide__track .splide__list .splide__slide .product .container-product .infor-product .container-infor .adjust-product-quantity .quantity-general .product-removal .remove-product:hover svg {
  scale: 1.2;
}

@media (min-width: 1200px) {
  .splide__slide {
    flex-basis: 33.3333333333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .splide__slide {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .splide__slide {
    flex-basis: 50%;
  }
}
@media (min-width: 20px) and (max-width: 767px) {
  .splide__slide {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .tag-full-price {
    display: none;
  }
  .tag-sale-price {
    font-size: 18px;
  }
}
@media only screen and (max-width: 772px) {
  .tag-full-price {
    font-size: 15px;
  }
  .tag-sale-price {
    font-size: 20px;
  }
}
.fade-list-products {
  opacity: 0;
  transition: opacity 0.5s;
}

.tag-product.New {
  background-color: #0FC44C !important;
}
.tag-product.Best {
  background-color: #FACF39 !important;
}
.tag-product.Popular {
  background-color: #5fb3ce !important;
}
.tag-product.Discount {
  background-color: #F67E3C !important;
}

.active-rating {
  color: #FACF39 !important;
}

.inactive-rating {
  color: rgb(223, 224, 226) !important;
}

.tag-prices .product-not-sale {
  color: #0FC44C !important;
  margin-left: 0 !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}