.more-products {
  position: relative;
}
.more-products .filter-product {
  position: absolute;
  top: 0;
  right: 0;
}
.more-products .filter-product .container-filter-product .filter-group {
  display: inline-block;
  width: auto;
  text-align: right;
}
.more-products .filter-product .container-filter-product .filter-group .form-select {
  display: inline-block;
  width: auto;
  padding: 5px 30px 5px 10px;
  font-size: 1.2rem;
  color: #000;
  opacity: 0.5 !important;
  font-weight: 400;
}
.more-products .container-more-products {
  margin: 5px;
}
.more-products .container-more-products button {
  margin: 2px !important;
  border-radius: 2px;
  font-size: 1.2rem !important;
  padding: 0 !important;
}
.more-products .container-more-products .page-btn {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px !important;
}
.more-products .container-more-products .page-btn:hover {
  background-color: #ddd;
}
.more-products .container-more-products .page-btn.active {
  background-color: #009f4d;
  color: white;
}
.more-products .container-more-products .productList {
  padding: 10px 0 !important;
  margin: 0 !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.more-products .container-more-products .productList .card {
  margin: 5px;
  margin-bottom: 10px;
  width: 19%;
  height: 334;
  background: #fff;
  position: relative;
  border-radius: 5px;
  border: 1px solid #DFE0E2 !important;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.more-products .container-more-products .productList .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.more-products .container-more-products .productList .card .tag-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
}
.more-products .container-more-products .productList .card .tag-container .tag-product {
  z-index: 2;
  font-size: 0.8rem;
  color: #fff;
  padding: 2px 4px !important;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.more-products .container-more-products .productList .card .heart-icon {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  margin: 0.3rem 0.7rem 0.3rem !important;
  cursor: pointer;
}
.more-products .container-more-products .productList .card .heart-icon svg {
  color: #DFE0E2;
  border-radius: 50%;
  transition: color 0.3s ease-in-out;
}
.more-products .container-more-products .productList .card .heart-icon svg:hover {
  color: #AAE640;
  cursor: pointer;
}
.more-products .container-more-products .productList .card img {
  scale: 0.8;
}
.more-products .container-more-products .productList .card .card-body {
  padding: 0px !important;
}
.more-products .container-more-products .productList .card .card-body .rated-star svg {
  color: #FACF39;
  font-size: 1.3rem;
}
.more-products .container-more-products .productList .card .card-body .card-title {
  margin-top: 5px;
  font-size: 1.1rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-bottom: 0 !important;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* max lines to display */
  -webkit-box-orient: vertical;
}
.more-products .container-more-products .productList .card .card-body .card-text {
  font-size: 1.1rem;
  color: #CBC9C9;
}
.more-products .container-more-products .productList .card .card-footer {
  width: 379;
  padding: 0 !important;
  margin-top: 0 !important;
  border-top: transparent;
  background-color: #fff;
  display: flex;
}
.more-products .container-more-products .productList .card .card-footer .tag-prices {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #fff !important;
  border: none !important;
}
.more-products .container-more-products .productList .card .card-footer .tag-prices button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.more-products .container-more-products .productList .card .card-footer .tag-prices .tag-sale-price {
  background: #fff;
  border-color: transparent;
  font-size: 1.5rem;
  padding-right: 0;
  text-align: left !important;
  color: #C31A24;
}
.more-products .container-more-products .productList .card .card-footer .tag-prices .tag-full-price {
  margin-left: 10px;
  font-size: 0.9rem;
  text-align: left;
  color: #757575;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(131, 131, 131, 0.4);
}
.more-products .container-more-products .productList .card .card-footer .more-infor {
  width: 25%;
  height: 64px;
  background: #fff;
  border-color: transparent;
}
.more-products .container-more-products .productList .card .card-footer .more-infor a {
  text-decoration: none !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200px;
  font-size: 1.3rem;
  line-height: 29px;
  color: #000;
}
.more-products .container-more-products .productList .card .card-footer .to-cart {
  width: 25%;
  height: 64px;
  background: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 29px;
  text-align: center;
  color: #000;
  border-color: transparent;
  border-radius: 50%;
}
.more-products .container-more-products .productList .card .card-footer svg {
  color: #1CAF37;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
}
.more-products .container-more-products .productList .card .card-footer svg:hover {
  scale: 1.3;
  cursor: pointer;
}
.more-products .container-more-products .pagination-container {
  scale: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.more-products .container-more-products .pagination-container .pagination-btn {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px !important;
  margin: 2px !important;
  border-radius: 2px;
  font-size: 1.2rem !important;
}
.more-products .container-more-products .pagination-container .pagination-btn:hover {
  background-color: #ddd;
}
.more-products .container-more-products .pagination-container .pagination {
  display: flex;
}