// Base
@import '../scss/base';
@import '../scss/breadcrumb_demo.scss';

// Header and Footer Style
// @import '../scss/header_home_demo.scss';
// @import '../scss/footer_home_demo.scss';
@import '../scss/header_home_demo_2.scss';
@import '../scss/footer_home_demo_2.scss';
@import '../scss/splider_and_modal.scss';
@import '../scss/table_products.scss';

$text-c1-primary:#AAE640;
$text-c2-primary: #1CAF37;
$text-c3-primary:#009f4d;
$text-c4-primary:#015A28;
$text-c5-primary:#408A36;
$text-c6-primary: #0FC44C;

$text-c1-yellow: #FACF39;
$text-c2-yellow: #F67E3C;
$text-c3-yellow: #C31A24;
$text-c4-yellow: #C31A24;

$text-c1-grey: #F8F8F8;
$text-c2-grey: #DFE0E2;
$text-c3-grey: #DEDDDC;
$text-c4-grey: #F2F3F5;
$text-c5-grey: #757575;
$text-c6-grey: #F8F9FA;
$text-c7-grey: #838384;
$text-c8-grey: #eee;
$text-c9-grey: #1A233A;
$text-c10-grey: #172033;

body {}

// Main Style
.main-page-not-found {
    // position: absolute;
    margin-top: 100px;
    zoom: 0.8;

    .page-not-found {
        background: #fff;

        .container-page-not-found {
            max-width: 1200px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            .content-page-not-found {
                padding-top: 20px;

                img {
                    max-width: 80%;
                }

                .title-and-search {
                    flex: 0 0 50%;
                    max-width: 50%;
                    // background-color: $text-c1-yellow;
                    // background-image: url('../image/pages/404bg.jpeg');
                    // background-size: cover;
                    // background-position: center;

                    .pnf-text {
                        font-size: 100px;
                        line-height: 1;
                        text-align: center;
                        flex-basis: 100%;
                        color: $text-c2-yellow;
                        display: inline-block;
                        font-weight: 700;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                    }

                    .pnf-content {
                        padding-top: 20px !important;
                        font-size: 32px;
                        line-height: 45px;
                        font-weight: 700;
                        margin: 0;
                        padding: 0;
                        color: #000;
                        opacity: 0.8;
                    }

                    p {
                        margin: 0 !important;
                        padding-top: 5px;
                        font-size: 22px;
                        line-height: 30px;
                        // color: #000;
                        color: $text-c5-grey;
                        // opacity: .9;
                        text-align: justify;
                        // font-family: 'Montserrat', sans-serif;
                        // font-weight: 500;

                    }

                    .re-direction {
                        margin-top: 0px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;

                        .btn-go-back-home,
                        .btn-contact-us {
                            text-decoration: none;
                            background-color: $text-c3-primary;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                            display: inline-block;
                            padding: 10px 20px;
                            text-align: center;
                            width: 150px;
                            margin-right: 10px;
                            font-size: 20px !important;
                            opacity: 0.9;
                        }


                        .btn-go-back-home:hover,
                        .btn-contact-us:hover {
                            opacity: 1;
                        }

                    }

                }
            }
        }
    }
}

// Main Style End