// Base
@import '../scss/base';
@import '../scss/breadcrumb_demo.scss';

// Header and Footer Style
// @import '../scss/header_home_demo.scss';
// @import '../scss/footer_home_demo.scss';
@import '../scss/header_home_demo_2.scss';
@import '../scss/footer_home_demo_2.scss';
@import '../scss/splider_and_modal.scss';
@import '../scss/table_products.scss';

// Card
// @import '../scss/p_product_card.scss';

$text-c1-primary:#AAE640;
$text-c2-primary: #1CAF37;
$text-c3-primary:#009f4d;
$text-c4-primary:#015A28;
$text-c5-primary:#408A36;
$text-c6-primary: #0FC44C;

$text-c1-yellow: #FACF39;
$text-c2-yellow: #F67E3C;
$text-c3-yellow: #C31A24;
$text-c4-yellow: #C31A24;

$text-c1-grey: #F8F8F8;
$text-c2-grey: #DFE0E2;
$text-c3-grey: #DEDDDC;
$text-c4-grey: #F2F3F5;
$text-c5-grey: #757575;
$text-c6-grey: #F8F9FA;
$text-c7-grey: #838384;
$text-c8-grey: #eee;
$text-c9-grey: #1A233A;
$text-c10-grey: #172033;

@mixin fontAdjust ($weight, $size, $height) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin processLongText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@mixin inlineBlocks() {
    display: flex;
    justify-content: center;
}

@mixin handleURL() {
    a {
        text-decoration: none !important;
        color: #F6F6F6;
        border: 1px solid #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        width: 90px;
        height: 32px;
        top: 15px;
    }
}

@mixin leftRightTopBottom($left, $right, $top, $bottom) {
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

// Main Style
.catalog-full-list {
    zoom: 0.8;
    margin-top: 150px;

    // margin-bottom: 50px;
    // max-width: 1200px;
    // margin-right: auto;
    // margin-left: auto;
    a:hover {
        color: $text-c3-primary !important;
        opacity: 1 !important;
    }

    a {
        text-decoration: none !important;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
        line-height: 30px;
        color: #000;
        opacity: 0.5;
    }

    ul {
        li {
            list-style: none;
            margin-bottom: 10px;
            margin-left: 15px;
            transition: all 0.5s ease;
        }

        margin: 0;
        padding: 0 !important;
        list-style: disc;
    }

    h1 {
        font-size: 36px;
        margin-top: 0;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }

    .horizontal-line {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 15px 0;

        &:before,
        &:after {
            content: "";
            display: block;
            height: 2px;
            flex-grow: 1;
            background-image: linear-gradient(transparent, $text-c3-grey, transparent);
        }

        &:before {
            margin-right: 10px;
        }

        &:after {
            margin-left: 10px;
        }

        .circle {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: $text-c3-grey;
            border-radius: 50%;
        }

    }

    .container-catalog-full-list {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        padding-right: 15px;
        padding-left: 0px;

        li {
            padding-left: 10px !important;
            border-radius: 5px !important;
        }

        .sidebar {
            background-color: #fff;
            padding: 20px;
            padding-left: 0;

            .has-sub-menu {
                margin-bottom: 10px;
                position: relative;
                transition: all 0.5s ease-in-out !important;

                .sub-menu {
                    margin-top: 5px;
                    padding-left: 10px;
                    transition: all 0.5s ease-in-out !important;
                }

                button {
                    text-decoration: none;
                    background-color: transparent;
                    border: 0px solid #ccc;
                    border-radius: 5px;
                    color: $text-c3-primary;
                    font-weight: bold;
                    cursor: pointer;
                    display: inline-block;
                    padding-right: 10px !important;
                    text-align: center;
                    width: 20px;
                    position: absolute;
                    right: 10px;
                    top: 0;
                }
            }

            .category {
                color: #000 !important;
                opacity: 0.7 !important;
                font-size: 1.2rem;
            }

            .active {
                background-color: $text-c5-primary !important;

                .category {
                    color: #fff !important;
                    opacity: 1 !important;
                }

                .button-has-sub-menu {
                    background-color: transparent !important;
                    svg {
                        color: #fff !important;
                    }
                }

            }

            .category:hover {
                color: $text-c5-primary !important;
                opacity: 1 !important;
            }
        }

        .content {
            padding-bottom: 10px;

            .title-area {
                text-align: left;
                font-size: 2rem;
                ;
                opacity: 0.9;
                color: #4da56a !important;
                font-family: "Jost", sans-serif !important;
            }

            // .tags-product {
            //     .container-tags-product {
            //         .tags_title {}

            //         .button-in-card {
            //             // margin-top: 10px;
            //             margin-right: 5px;
            //             margin-bottom: 20px;
            //             padding: 5px 10px;
            //             border-radius: 5px;
            //             border: 2px solid rgba(0, 0, 0, 0.1) !important;
            //             background-color: #fff !important;
            //             transition: all 0.3s ease !important;
            //             // box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

            //             .link-button-in-card {
            //                 text-decoration: none;
            //                 color: $text-c2-primary !important;
            //                 opacity: 1;
            //                 transition: all 0.3s ease !important;
            //                 font-size: 1.2rem !important;
            //             }

            //             &:hover {
            //                 background-color: $text-c2-primary !important;

            //                 .link-button-in-card {
            //                     text-decoration: none;
            //                     color: #fff !important;
            //                 }
            //             }
            //         }
            //     }
            // }

            .main_products {
                max-width: 1600px;
                margin: 10px auto 30px auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .container_products {
                    width: 100%;

                    .products_title {}

                    .row {}

                    .container {
                        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

                        .row {
                            margin-top: 10px;

                            // Splide SCSS Start

                            // Splide SCSS End
                        }
                    }
                }
            }
        }
    }
}

// Main Style End

// -------------------------------------------------- FOR ALL --------------------------------------------------

// Side bar RES Start
@media (max-width: 768) {
    .sidebar {
        display: none;
    }
}

// Side bar RES End

// Adjust number of Product on a line of Table (Start) - 4 products a line - 
.more-products {
    .container-more-products {
        .productList {
            .card {
                width: 24% !important;
            }
        }
    }
}

// Adjust number of Product on a line of Table (End)