// Base
@import '../scss/base';

$text-c1-primary:#AAE640;
$text-c2-primary: #1CAF37;
$text-c3-primary:#009f4d;
$text-c4-primary:#015A28;
$text-c5-primary:#408A36;
$text-c6-primary: #0FC44C;

$text-c1-yellow: #FACF39;
$text-c2-yellow: #F67E3C;
$text-c3-yellow: #C31A24;
$text-c4-yellow: #C31A24;

$text-c1-grey: #F8F8F8;
$text-c2-grey: #DFE0E2;
$text-c3-grey: #DEDDDC;
$text-c4-grey: #F2F3F5;
$text-c5-grey: #757575;
$text-c6-grey: #F8F9FA;
$text-c7-grey: #838384;
$text-c8-grey: #eee;
$text-c9-grey: #1A233A;
$text-c10-grey: #172033;
$text-c11-grey: #151421;

// Footer Style
.footer {
    // scale: 0.8;
    font-size: 80% !important;
    // line-height: 80%;

    // format sundries
    a:hover {
        color: #fff;
        opacity: 1;
    }

    a {
        background-color: transparent;
        cursor: pointer !important;
        text-decoration: none;
        font-size: 18px;
        line-height: 28px;
        color: #97a1a9;
        opacity: .8;
    }

    // format general footer
    background: $text-c9-grey;
    // background: $text-c10-grey;
    border-top: 1px solid rgba(249, 249, 249, 0.1);

    // format content of footer
    .footer_embrace {
        .footer_container {

            // format general footer_container
            max-width: 1200px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 0px !important;
            width: 100%;
            // padding-right: 15px;
            // padding-left: 15px;


            .row {
                display: flex;
                flex-wrap: wrap;
                margin: 0 !important;
                padding: 0 !important;
                // margin-right: -15px;
                // margin-left: -15px;

                // element 1
                .column_mfoody_infor {

                    .content_company {
                        font-size: 18px;
                        line-height: 28px;
                        color: #97a1a9;
                        margin: 0;
                        padding: 0;
                        opacity: .8;
                        display: block;
                        text-align: justify;
                    }

                    .footer_logo {
                        padding-top: 30px;
                        margin-bottom: 10px !important;
                        text-align: center;


                        img {
                            height: 80px;
                        }

                        .navbar-brand {
                            opacity: 0.9;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }

                    .content_company {
                        a:hover {
                            color: $text-c2-primary;
                            opacity: 1;
                        }
                    }

                }

                // format name_column in all columns
                .name_column {
                    font-size: 22px;
                    line-height: 28px;
                    margin-bottom: 25px;
                    font-weight: 400;
                    position: relative;
                    color: #fff;
                    letter-spacing: .5px;
                    padding-top: 35px;
                }

                // element 2
                .column_contact_info {
                    .content_contact_info {
                        font-size: 18px;
                        line-height: 28px;
                        color: #97a1a9;
                        margin: 0;
                        padding: 0;
                        opacity: .8;
                        display: block;
                        text-align: justify;
                    }
                }

                ul {
                    li {
                        list-style: none;
                        margin-bottom: 10px;
                    }

                    margin: 0;
                    padding: 0;
                    list-style: disc;
                }

                // element 3
                .column_categories {}

                // element 4
                .column_follow_us {
                    .container_follow_us {}
                }
            }

        }
    }

    .copyright {
        // format general copyright
        padding: 1.5em 0;
        border-top: 1px solid rgba(249, 249, 249, 0.2);

        .copyright_container {
            .content_copyright {
                font-size: 18px;
                line-height: 28px;
                color: #97a1a9;
                margin: 0;
                padding: 0;
                // opacity: 0.8;
                display: block;

                a {
                    color: $text-c1-primary;
                    font-family: 'Homemade Apple', cursive;
                    font-size: 20px;
                }

                a:hover {
                    color: $text-c2-primary;
                    opacity: 1;
                }
            }
        }

    }
}

// Footer Style End