// Base
@import '../scss/base';
@import '../scss/breadcrumb_demo.scss';

// Header and Footer Style
// @import '../scss/header_home_demo.scss';
// @import '../scss/footer_home_demo.scss';
@import '../scss/header_home_demo_2.scss';
@import '../scss/footer_home_demo_2.scss';
@import '../scss/splider_and_modal.scss';
@import '../scss/table_products.scss';
@import '../scss/slider_for_home.scss';
@import '../scss/scroll_list.scss';

// Card
// @import '../scss/p_product_card.scss';

$text-c1-primary:#AAE640;
$text-c2-primary: #1CAF37;
$text-c3-primary:#009f4d;
$text-c4-primary:#015A28;
$text-c5-primary:#408A36;
$text-c6-primary: #0FC44C;

$text-c1-yellow: #FACF39;
$text-c2-yellow: #F67E3C;
$text-c3-yellow: #C31A24;
$text-c4-yellow: #C31A24;

$text-c1-grey: #F8F8F8;
$text-c2-grey: #DFE0E2;
$text-c3-grey: #DEDDDC;
$text-c4-grey: #F2F3F5;
$text-c5-grey: #757575;
$text-c6-grey: #F8F9FA;
$text-c7-grey: #838384;
$text-c8-grey: #eee;
$text-c9-grey: #1A233A;
$text-c10-grey: #172033;

@mixin fontAdjust ($weight, $size, $height) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin processLongText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@mixin inlineBlocks() {
    display: flex;
    justify-content: center;
}

@mixin handleURL() {
    a {
        text-decoration: none !important;
        color: #F6F6F6;
        border: 1px solid #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        width: 90px;
        height: 32px;
        top: 15px;
    }
}

@mixin leftRightTopBottom($left, $right, $top, $bottom) {
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

// Main Style
.main-mfoody {
    .main-container {

        // For Scroll List
        .products_title {
            color: #4da56a !important;
            font-size: 2rem;
            margin-bottom: 0 !important;
            font-weight: 500;
            line-height: 1.2;
        }

        .arrow-btn {
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 24px;
            color: #333;
            cursor: pointer;
            box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
            opacity: 2;
            z-index: 2;

            &:hover {
                svg {
                    color: $text-c3-primary;
                }
            }
        }

        .left-arrow {
            left: 0;
        }

        .right-arrow {
            right: 0;
        }

        // Resize Card Product in Scroll List
        .scrolling-container {
            padding-top: 1em !important;
            box-shadow: none;
            display: none;

            .scrolling-wrapper{
                .card {
                    width: 280px !important;
                }
            }
        }

        // Section 1
        .carousel-products-section {

            .main_products {
                max-width: 1500px;
                margin: 10px auto 30px auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                border-radius: 10px;

                .container_products {
                    width: 100%;

                    .container {
                        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

                        .row {
                            margin-top: 10px;

                            // Splide SCSS Start
                            .splide__list {
                                transform: translateX(0) !important;
                            }

                            // Splide SCSS End
                        }
                    }
                }
            }
        }

        // Section 2
        .new-products-section {

            .main-new-products {
                max-width: 1500px;
                margin: 10px auto 30px auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                padding-bottom: 0 !important;
                box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                border-radius: 10px;

                .container-new-products {
                    width: 100%;

                    .new-products {
                        margin-bottom: 30px;
                        // margin-top: 100px;
                        transform: all 0.3s ease;

                        .container-new-products {
                            margin-top: 10px;
                            // position: relative;

                            &:hover {
                                .arrow-btn {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Section 3
        .discount-products-section {

            .main-discount-products {
                max-width: 1500px;
                margin: 10px auto 30px auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                padding-bottom: 0 !important;
                box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                border-radius: 10px;

                .container-discount-products {
                    width: 100%;

                    .discount-products {
                        margin-bottom: 30px;
                        // margin-top: 100px;
                        transform: all 0.3s ease;

                        .container-discount-products {
                            margin-top: 10px;
                            // position: relative;

                            &:hover {
                                .arrow-btn {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Section 4
        .best-products-section {

            .main-best-products {
                max-width: 1500px;
                margin: 10px auto 30px auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                padding-bottom: 0 !important;
                box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                border-radius: 10px;

                .container-best-products {
                    width: 100%;

                    .best-products {
                        margin-bottom: 30px;
                        // margin-top: 100px;
                        transform: all 0.3s ease;

                        .container-best-products {
                            margin-top: 10px;
                            // position: relative;

                            &:hover {
                                .arrow-btn {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Section 5
        .popular-products-section {

            .main-popular-products {
                max-width: 1500px;
                margin: 10px auto 30px auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                padding-bottom: 0 !important;
                box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                border-radius: 10px;

                .container-popular-products {
                    width: 100%;

                    .popular-products {
                        margin-bottom: 30px;
                        // margin-top: 100px;
                        transform: all 0.3s ease;

                        .container-popular-products {
                            margin-top: 10px;
                            // position: relative;

                            &:hover {
                                .arrow-btn {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Section 6
        .header-blog-page {
            background-image: url(../image/pages/blog_background_header.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 72px 0;

            .container-header-blog-page {
                width: 100%;
                padding: 0 24px;
                margin: 0 auto;

                .content-container-blog {
                    padding: 5% 5%;
                    max-width: 850px;
                    position: relative;
                    margin: 0 auto;
                    border-radius: 5px;
                    background-color: #fff;

                    .image-content {
                        transform: translateY(-50%);
                        // transition-duration: 1s;
                        // transition-delay: 0.25s;
                        position: absolute;
                        right: 45%;
                        top: 50%;
                        height: 150%;

                        img {
                            float: right;
                            height: 96%;
                            width: auto;
                            display: block;
                            margin: 0 auto;
                        }
                    }

                    .main-content {
                        // transition-duration: 1s;
                        // transition-delay: 0.125s;
                        position: relative;
                        z-index: 1;
                        margin-left: 55%;

                        .title-main {
                            font-size: 1.5rem;
                            margin: 0;

                            p {
                                margin: 0;
                            }

                            i {
                                font-size: 1rem;
                                opacity: 0.8;
                            }
                        }

                        .button-main {
                            margin-top: 1em;

                            .link-main {
                                border-radius: 5px;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                background: #71c894;
                                color: #fff;
                                font-size: 1rem;
                                padding: 0.5em 1.5rem;
                                text-decoration: none;
                                cursor: pointer;
                                min-height: 2.25em;
                                opacity: 0.8;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Main Style End

// -------------------------------------------------- FOR ALL --------------------------------------------------
.container-loader-scroll-list {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    height: 100px;
    width: 100%;

    .loader {
        width: 50px;
        height: 50px;
        border: 5px solid #f3f3f3;
        border-top: 5px solid $text-c1-primary;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }
}