// Base
@import '../scss/base';
@import '../scss/breadcrumb_demo.scss';

// Header and Footer Style
@import '../scss/header_home_demo.scss';
@import '../scss/footer_home_demo.scss';

// Card
@import '../scss/p_product_card.scss';


$text-c1-primary:#AAE640;
$text-c2-primary: #1CAF37;
$text-c3-primary:#009f4d;
$text-c4-primary:#015A28;
$text-c5-primary:#408A36;

$text-c1-yellow: #FACF39;
$text-c2-yellow: #F67E3C;
$text-c3-yellow: #C31A24;

$text-c1-grey: #F8F8F8;
$text-c2-grey: #DFE0E2;
$text-c3-grey: #DEDDDC;
$text-c4-grey: #F2F3F5;
$text-c5-grey: #757575;
$text-c6-grey: #F8F9FA;
$text-c7-grey: #838384;
$text-c8-grey: #eee;

@mixin fontAdjust ($weight, $size, $height) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin inlineBlocks() {
    display: flex;
    justify-content: center;
}

@mixin handleURL() {
    a {
        text-decoration: none !important;
        color: #F6F6F6;
        border: 1px solid #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        width: 90px;
        height: 32px;
        top: 15px;
    }
}

@mixin leftRightTopBottom($left, $right, $top, $bottom) {
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

.container {
    .row {
        .splide {

            .splide__arrows {

                .splide__arrow--prev {
                    width: 40px;
                    height: 40px;
                    background-color: #fff !important;
                    left: -5px;
                    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                    opacity: 2;
                }

                .splide__arrow--next {
                    width: 40px;
                    height: 40px;
                    background-color: #fff !important;
                    right: -5px;
                    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                    opacity: 2;
                }

                .splide__arrow svg {
                    transition: all 0.2s ease;
                }

                .splide__arrow svg:hover {
                    fill: $text-c2-primary;
                }


            }

            .splide__track {
                .splide__list {
                    .splide__slide {
                        padding: 5px;

                        .product {
                            padding-top: 5px;
                            padding-bottom: 5px;
                            display: flex;
                            align-items: center;
                            // box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                            border: 2px solid mix($text-c5-grey, #fff, 10%);
                            border-radius: 5px;
                            box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

                            &:hover {
                                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                            }

                            .container-product {
                                padding: 0 !important;
                                margin: 0 !important;

                                .image-product {
                                    img {}
                                }

                                .infor-product {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-top: 1rem;
                                    padding-bottom: 1rem;
                                    position: relative;

                                    .container-infor {
                                        padding-top: 0px;
                                        // padding-right: 10px;
                                        text-align: left;

                                        .product-general {
                                            font-weight: 600;
                                            margin-left: 5px;

                                            h4 {
                                                font-size: 1.1rem;
                                                margin-bottom: 0 !important;
                                            }

                                            .product-star-and-sale {
                                                text-align: center;
                                                align-items: center;
                                                padding-left: 10px;
                                                padding-top: 0 !important;
                                                margin-top: 0 !important;

                                                .rated-star {
                                                    i {
                                                        color: $text-c1-yellow;
                                                        font-size: 1.1rem;
                                                        margin-top: 0.5rem !important;
                                                    }
                                                }

                                                .tag-product {
                                                    z-index: 2;
                                                    font-size: 0.8rem;
                                                    margin-top: 0.5rem;
                                                    color: #fff;
                                                    background-color: $text-c2-yellow;
                                                    padding: 1px 2px;
                                                    border-radius: 5px;
                                                }
                                            }

                                            .product-info {
                                                font-size: 1.1rem;
                                                // margin-top: 15px;

                                                .product-description {
                                                    padding-right: 10px;
                                                }

                                                .tag-prices {
                                                    width: 100% !important;
                                                    display: flex;
                                                    background: #fff !important;
                                                    border: none !important;
                                                    margin-top: 0.7rem;
                                                    align-items: center !important;
                                                    text-align: right !important;
                                                    justify-content: center;

                                                    .tag-sale-price {
                                                        border-color: transparent;
                                                        font-size: 1.5rem;
                                                        // padding-right: 5px;
                                                        color: $text-c3-yellow;
                                                    }

                                                    .tag-full-price {
                                                        font-size: 0.9rem;
                                                        color: $text-c5-grey;
                                                        // margin-left: 5px;
                                                        text-decoration: line-through;
                                                        text-decoration-thickness: 2px;
                                                    }
                                                }

                                                .button-infor {
                                                    margin-top: 0.7rem;
                                                    align-items: center !important;
                                                    text-align: right !important;
                                                    justify-content: center;

                                                    .more-infor {
                                                        width: 40%;
                                                        height: 30px;
                                                        background: #fff;
                                                        border-color: transparent;

                                                        a {
                                                            text-decoration: none !important;
                                                            @include fontAdjust(200px, 1.3rem, 29px);
                                                            color: #000;
                                                        }

                                                    }

                                                    .to-cart {
                                                        width: 40%;
                                                        height: 30px;
                                                        background: #fff;
                                                        @include fontAdjust(600, 1.3rem, 29px);
                                                        text-align: center;
                                                        color: #000;
                                                        border-color: transparent;
                                                        border-radius: 50%;
                                                    }

                                                    i {
                                                        color: $text-c2-primary;
                                                        font-size: 1.2rem;
                                                        transition: all 0.4s ease-in-out;
                                                    }

                                                    i:hover {
                                                        scale: 1.3;
                                                        cursor: pointer;
                                                    }
                                                }


                                            }
                                        }

                                        .adjust-product-quantity {
                                            .price-general {
                                                position: absolute;
                                                bottom: 0;
                                                right: 0;
                                                margin-bottom: 0px;
                                                margin-right: 15px;

                                                .container-price-general {
                                                    background-color: $text-c6-primary;
                                                    border-radius: 5px;

                                                    .product-line-price {
                                                        font-size: 25px;
                                                        color: #fff;
                                                    }
                                                }
                                            }

                                            .quantity-general {
                                                position: absolute;
                                                top: 0;
                                                right: 0;

                                                .quantity {
                                                    .quantity-input {
                                                        margin: auto;
                                                        width: 80px;
                                                    }
                                                }

                                                .product-removal {
                                                    padding-left: 20px;

                                                    .remove-product {
                                                        border: none;
                                                        height: 32px;
                                                        width: 32px;
                                                        border-radius: 5px;
                                                        background-color: $text-c3-yellow;
                                                        transition: all 0.7 ease;

                                                        svg {
                                                            color: #fff;
                                                            transition: all 0.7 ease !important;
                                                        }

                                                        &:hover {
                                                            svg {
                                                                scale: 1.2;
                                                            }
                                                        }

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

// Modal Start
.custom-modal-width {
    max-width: 1200px !important;
    max-height: 90vh !important;
    scale: 0.9;
    .product-detail {
        // margin-top: 220px;
        // margin-top: 10px;
        // margin-bottom: 10px;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;

        .title-area {
            font-size: 20px !important;
            font-weight: 400px !important;
            opacity: 0.9 !important;
        }

        .horizontal-line {
            // border-bottom: 5px solid $text-c3-primary;
            // margin: 20px 0;
            // display: block;
            // width: 100%;
            // height: 3px;
            // background-image: linear-gradient(to right, transparent, $text-c2-primary, transparent);
            // margin: 20px 0;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            margin: 15px 0;

            &:before,
            &:after {
                content: "";
                display: block;
                height: 2px;
                flex-grow: 1;
                background-image: linear-gradient(transparent, $text-c3-grey, transparent);
            }

            &:before {
                margin-right: 10px;
            }

            &:after {
                margin-left: 10px;
            }

            .circle {
                display: inline-block;
                width: 15px;
                height: 15px;
                background-color: $text-c3-grey;
                border-radius: 50%;
            }

        }

        span {
            font-size: 12px;
        }

        ul {
            li {
                margin-right: 25px;
                font-weight: lighter;
                cursor: pointer;
            }
        }

        li.active {
            border-bottom: 3px solid silver;
        }

        .product-detail-container {
            .row {

                // border-right: 2px solid $text-c2-grey;
                .item-photo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $text-c1-grey;
                    border-radius: 5px;

                    .image-container {
                        position: relative;
                    }

                    #product-image {
                        width: 100%;
                        display: block;
                        cursor: none;
                    }

                    .magnifier {
                        position: absolute;
                        display: none;
                        border: none;
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        overflow: hidden;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                        background-repeat: no-repeat;
                        pointer-events: none;
                        cursor: none;
                    }

                }

                .card-information {

                    .part-of-card {
                        margin-top: 15px;
                        padding: 5px;
                        border-radius: 5px;
                        border: none;
                        background-color: #fff;
                        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                    }

                    .header-card {
                        padding: 10px;
                        margin-top: 0;
                        font-size: 1.5rem !important;

                        .name-product {
                            font-size: 2rem;
                            color: #000;
                        }

                        .rating-comments {
                            margin-top: 5px;
                            margin-bottom: 5px;

                            .rating {

                                .fa-star {
                                    font-size: 0.9rem;
                                    color: gold;
                                }
                            }

                            .text-in-card-information {
                                color: #000;
                                opacity: 0.5;
                                font-size: 1rem !important;
                                // font-size: 12px;
                            }
                        }

                        .container-button-in-card {
                            .button-in-card {
                                margin-top: 10px;
                                margin-right: 5px;
                                // padding: 5px;
                                border-radius: 5px;
                                border: 1px solid $text-c4-grey;
                                background-color: #fff;
                                transition: all 0.3s ease;
                                // box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

                                .link-button-in-card {
                                    text-decoration: none;
                                    color: $text-c2-primary;
                                    transition: all 0.3s ease;
                                    font-size: 1rem;
                                }

                                &:hover {
                                    background-color: $text-c2-primary;

                                    .link-button-in-card {
                                        text-decoration: none;
                                        color: #fff;
                                    }
                                }
                            }
                        }

                    }

                    .body-card {
                        padding: 10px;

                        .price-cart-favorite {
                            .price-container {
                                text-align: left;
                                margin-top: auto !important;
                                margin-bottom: auto !important;

                                .sale-price {
                                    padding-left: 20px;
                                    font-size: 30px;
                                    color: $text-c3-yellow;
                                }

                                .full-price {
                                    padding-left: 5px;
                                    color: #000;
                                    opacity: 0.5;
                                    text-decoration: line-through;
                                    text-decoration-color: rgba(0, 0, 0, 0.5);
                                    text-decoration-thickness: 2px;
                                    font-size: 16px;
                                }

                                .in-stock {
                                    padding-left: 20px;
                                    font-size: 15px;
                                    color: $text-c2-yellow;
                                    opacity: 0.7;

                                }

                            }

                            .button-container {
                                .section {
                                    .btn {
                                        width: 100%;
                                        padding: 10px;
                                        border-radius: 5px;
                                        border: 1px solid $text-c4-grey;
                                        background-color: #fff;
                                        text-align: left;

                                        .glyphicon {
                                            font-size: 12px;
                                            text-decoration-line: none;
                                            margin-right: 20px;
                                        }

                                        .button-content {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                    }

                                    .button-to-cart {
                                        &:hover {
                                            color: $text-c2-primary
                                        }
                                    }

                                    .button-to-favorite-list {
                                        margin-top: 5px;

                                        &:hover {
                                            color: $text-c3-yellow
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .bottom-card {
                        padding: 10px;

                        .section {
                            .title-description {}

                            .content-description {
                                font-size: 12px;
                            }
                        }
                    }

                    .delivery-information {

                        .section {
                            // padding-bottom: 5px;

                            .title-delivery-information {
                                margin-left: 10px;
                            }

                            .content-delivery-information {
                                margin-left: 3px;
                                font-size: 12px;

                                svg {
                                    margin-right: 10px;
                                    color: #000;
                                    opacity: 0.5;
                                }

                                .title-si {
                                    font-size: 1.2em;
                                    display: flex;
                                    align-items: center;
                                }

                                .status-si {
                                    font-size: 1.1em;
                                    font-weight: 500;
                                    color: $text-c2-primary;
                                    opacity: 0.8;
                                }

                                .table-user-information {
                                    margin: -8px !important;

                                    .table {
                                        margin-top: 20px;
                                        border-collapse: separate;
                                        border-spacing: 0;
                                        border-radius: 10px;
                                        overflow: hidden;

                                        thead {
                                            th {
                                                font-weight: bold;
                                                background-color: #f5f5f5;
                                            }
                                        }

                                        tbody {
                                            tr {
                                                td {
                                                    vertical-align: middle;
                                                    color: #000;
                                                    opacity: 0.6;
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }

                    }

                }
            }


        }

    }
}


// Modal End


// @media (min-width: 1200px) {
//     .splide__slide {
//         flex-basis: calc(100% / 4);
//     }
// }

@media (min-width: 992px) and (max-width: 1199px) {
    .splide__slide {
        flex-basis: calc(100% / 2);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .splide__slide {
        flex-basis: calc(100% / 2);
    }
}

@media (min-width: 20px) and (max-width: 767px) {
    .splide__slide {
        flex-basis: calc(100% / 2);
    }
}