// Base
@import '../scss/base';
@import '../scss/breadcrumb_demo.scss';

// Header and Footer Style
@import '../scss/header_home_demo.scss';
@import '../scss/footer_home_demo.scss';

// Card
@import '../scss/p_product_card.scss';
// @import '../scss/p_slide_product_card_demo.scss';

$text-c1-primary:#AAE640;
$text-c2-primary: #1CAF37;
$text-c3-primary:#009f4d;
$text-c4-primary:#015A28;
$text-c5-primary:#408A36;
$text-c6-primary: #0FC44C;

$text-c1-yellow: #FACF39;
$text-c2-yellow: #F67E3C;
$text-c3-yellow: #C31A24;
$text-c4-yellow: #C31A24;

$text-c1-grey: #F8F8F8;
$text-c2-grey: #DFE0E2;
$text-c3-grey: #DEDDDC;
$text-c4-grey: #F2F3F5;
$text-c5-grey: #757575;
$text-c6-grey: #F8F9FA;
$text-c7-grey: #838384;
$text-c8-grey: #eee;
$text-c9-grey: #1A233A;
$text-c10-grey: #172033;

// Main Style
.product-detail {
    // margin-top: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;

    span {
        font-size: 12px;
    }

    ul {
        li {
            margin-right: 25px;
            font-weight: lighter;
            cursor: pointer;
        }
    }

    li.active {
        border-bottom: 3px solid silver;
    }

    .product-detail-container {
        .row {

            // border-right: 2px solid $text-c2-grey;
            .item-photo {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $text-c1-grey;
                border-radius: 5px;

                .image-container {
                    position: relative;
                }

                #product-image {
                    width: 100%;
                    display: block;
                    cursor: none;
                }

                .magnifier {
                    position: absolute;
                    display: none;
                    border: none;
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    overflow: hidden;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                    background-repeat: no-repeat;
                    pointer-events: none;
                    cursor: none;
                }

            }

            .card-information {

                .part-of-card {
                    margin-top: 15px;
                    padding: 5px;
                    border-radius: 5px;
                    border: none;
                    background-color: #fff;
                    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
                }

                .header-card {
                    padding: 10px;
                    margin-top: 0;

                    .name-product {
                        font-size: 25px;
                        color: #000;
                    }

                    .rating-comments {
                        margin-top: 5px;
                        margin-bottom: 5px;

                        .rating {

                            .fa-star {
                                color: gray;
                            }

                            .yellow {
                                color: gold;
                            }
                        }

                        .text-in-card-information {
                            color: #000;
                            opacity: 0.5;
                            // font-size: 12px;
                        }
                    }

                    .container-button-in-card {
                        .button-in-card {
                            margin-top: 10px;
                            padding: 5px;
                            border-radius: 5px;
                            border: 1px solid $text-c4-grey;
                            background-color: #fff;
                            transition: all 0.3s ease;
                            // box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

                            .link-button-in-card {
                                text-decoration: none;
                                color: $text-c2-primary;
                                transition: all 0.3s ease;
                            }

                            &:hover {
                                background-color: $text-c2-primary;

                                .link-button-in-card {
                                    text-decoration: none;
                                    color: #fff;
                                }
                            }
                        }
                    }

                }

                .body-card {
                    padding: 10px;

                    .price-cart-favorite {
                        .price-container {
                            text-align: left;
                            margin-top: auto !important;
                            margin-bottom: auto !important;

                            .sale-price {
                                padding-left: 20px;
                                font-size: 30px;
                                color: $text-c3-yellow;
                            }

                            .full-price {
                                padding-left: 5px;
                                color: #000;
                                opacity: 0.5;
                                text-decoration: line-through;
                                text-decoration-color: rgba(0, 0, 0, 0.5);
                                text-decoration-thickness: 2px;
                                font-size: 16px;
                            }

                            .in-stock {
                                padding-left: 20px;
                                font-size: 15px;
                                color: $text-c2-yellow;
                                opacity: 0.7;

                            }

                        }

                        .button-container {
                            .section {
                                .btn {
                                    width: 100%;
                                    padding: 10px;
                                    border-radius: 5px;
                                    border: 1px solid $text-c4-grey;
                                    background-color: #fff;
                                    text-align: left;

                                    .glyphicon {
                                        font-size: 12px;
                                        text-decoration-line: none;
                                        margin-right: 20px;
                                    }

                                    .button-content {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }

                                .button-to-cart {
                                    &:hover {
                                        color: $text-c2-primary
                                    }
                                }

                                .button-to-favorite-list {
                                    margin-top: 5px;

                                    &:hover {
                                        color: $text-c3-yellow
                                    }
                                }
                            }
                        }
                    }

                }

                .bottom-card {
                    padding: 10px;

                    .section {
                        .title-description {}

                        .content-description {
                            font-size: 12px;
                        }
                    }
                }

                .delivery-information {

                    .section {
                        // padding-bottom: 5px;

                        .title-delivery-information {
                            margin-left: 10px;
                        }

                        .content-delivery-information {
                            margin-left: 3px;
                            font-size: 12px;

                            svg {
                                margin-right: 10px;
                                color: #000;
                                opacity: 0.5;
                            }

                            .title-si {
                                font-size: 1.2em;
                                display: flex;
                                align-items: center;
                            }

                            .status-si {
                                font-size: 1.1em;
                                font-weight: 500;
                                color: $text-c2-primary;
                                opacity: 0.8;
                            }

                            .table-user-information {
                                margin: -8px !important;

                                .table {
                                    margin-top: 20px;
                                    border-collapse: separate;
                                    border-spacing: 0;
                                    border-radius: 10px;
                                    overflow: hidden;

                                    thead {
                                        th {
                                            font-weight: bold;
                                            background-color: #f5f5f5;
                                        }
                                    }

                                    tbody {
                                        tr {
                                            td {
                                                vertical-align: middle;
                                                color: #000;
                                                opacity: 0.6;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }

                }

            }
        }


    }

    .bottom-product-detail {
        padding: 0px !important;

        .container-bottom-product-detail {
            padding: 0px !important;
            border-radius: 5px;

            .menu-items {
                margin-bottom: 0;
                margin-top: 20px;
                display: flex;
                background-color: rgb(247, 247, 247);
                padding: 4px;
                border-radius: 12px;
                list-style-type: none;
                text-align: center;
                transition: all 0.3s ease;

                li {
                    width: 100%;
                    background-color: rgb(247, 247, 247);
                    color: rgb(120, 124, 135);
                    font-weight: 600;
                    border-radius: 12px;
                    font-size: 12px;
                    line-height: 20px;
                    height: auto;
                    padding: 8px 12px;
                    margin: 0px 4px;
                    border-bottom: none;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .active {
                    background-color: #fff;
                    color: #000;
                }
            }

            .content-bottom-product-detail {
                margin-bottom: 20px;
                width: 100%;
                font-size: 15px;
                // border-top: 1px solid silver;

                .container-content-bottom-product-detail {
                    padding-top: 20px;

                    .container-comments-and-rating {
                        .detail-rattings {

                            .container-detail-rattings {

                                .product-review {
                                    // padding: 10px !important;
                                    padding: 0 !important;
                                    margin: 0 !important;

                                    .top-container-product-review {
                                        margin-bottom: 15px;
                                        padding-bottom: 10px;
                                        background-color: #F7F7F7;
                                        border-radius: 5px;

                                        .product-review-title {
                                            font-size: 18px;
                                            margin: 10px !important;
                                        }

                                        .ratting-general {
                                            align-items: center;
                                            text-align: center;

                                            .rating {
                                                svg {
                                                    color: gold;
                                                    font-size: 25px;
                                                }

                                                .number-rattings {
                                                    .content-number-rattings {
                                                        font-size: 15px;
                                                        color: #000;
                                                        opacity: 0.5;
                                                        margin-left: 20px;
                                                    }

                                                }
                                            }
                                        }
                                    }

                                    .bottom-container-product-review {

                                        background-color: #F7F7F7;
                                        border-radius: 5px;

                                        .product-review-title {
                                            margin: 10px !important;
                                        }

                                        .ratting-product-review {
                                            .container-ratting-product-review {
                                                .element-ratting {
                                                    padding: 0 !important;
                                                    margin-bottom: 5px;

                                                    .rating {
                                                        svg {
                                                            color: gold;
                                                        }

                                                        .number-rattings {}

                                                        .number-start {}
                                                    }

                                                    .progress-ratting {
                                                        height: 22.5px;
                                                        padding-top: 7px !important;
                                                        margin: 0 !important;

                                                        .progress {
                                                            height: 8px !important;

                                                            .progress-bar {
                                                                background-color: gold !important;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .detail-comments {
                            .container-detail-comments {
                                .row {
                                    // border: 1px solid #F7F7F7;

                                    .row-container {
                                        ul {
                                            li {
                                                position: relative;
                                                border: 1px solid #F7F7F7;
                                                background-color: #F7F7F7;
                                                border-radius: 5px;
                                                padding: 10px;
                                                margin-right: 0 !important;

                                                .media-body {
                                                    .top-media-body {
                                                        .user-name {
                                                            font-size: 17px;
                                                            font-weight: 400;
                                                        }

                                                        .float-end {
                                                            position: absolute;
                                                            top: 10px;
                                                            right: 10px;

                                                            .ratting-general {
                                                                .ratting {
                                                                    svg {
                                                                        color: gold;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                    .bottom-media-body {
                                                        margin-top: 10px;

                                                        .user-comment-content {
                                                            font-size: 15px;
                                                            font-weight: 400;
                                                            opacity: 0.7;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }


                    .container-more-information {
                        .ele-more-infor {
                            .title-ele-more-infor {
                                font-size: 20px;
                                font-weight: 400px;
                                opacity: 0.9;
                            }

                            .container-ele-more-infor {
                                .all-attributes {
                                    .row {
                                        .col-6 {

                                            .attribute-product {
                                                border: none !important;
                                                text-align: left;
                                                font-size: 15px;
                                                opacity: 0.7;

                                                span {
                                                    font-size: 15px;
                                                    opacity: 0.7;
                                                    display: inline-block;
                                                }

                                                .title-attribute {
                                                    // margin-left: 30px;
                                                }

                                                .space-between {
                                                    padding-top: 5px;
                                                }

                                                .value-attribute {}

                                                .category-attribute {
                                                    color: $text-c2-primary
                                                }
                                            }
                                        }
                                    }

                                    .brand-detail {

                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        // background-color: $text-c1-grey;
                                        border-radius: 5px;
                                        background: #151421;
                                        background: linear-gradient(to right, $text-c2-primary, $text-c1-primary) no-repeat 0 0 / cover;

                                        .container-brand-detail {
                                            scale: 0.7;
                                            max-width: 800px;
                                            text-align: center;

                                            .title-brand-detail {
                                                font-size: 36px;
                                                font-weight: bold;
                                                margin-bottom: 20px;
                                                color: #fff;
                                                opacity: 0.9;
                                            }

                                            .content-brand-detail {
                                                font-size: 20px;
                                                line-height: 1.5;
                                                margin-bottom: 30px;
                                                color: #fff;
                                                opacity: 0.8;
                                            }

                                            .button-brand-detail {
                                                font-size: 20px;
                                                padding: 12px 24px;
                                                background-color: #f8c301;
                                                border: none;
                                                color: #000;
                                                border-radius: 50px;
                                                cursor: pointer;
                                                transition: all 0.2s ease;

                                                &:hover {
                                                    color: #fff;
                                                    // color: $text-c2-primary;
                                                }
                                            }
                                        }


                                    }
                                }
                            }
                        }

                    }

                    .container-leave-your-opinion {

                        .card {
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                            padding: 10px;
                            .card-body {
                                .rating-form {
                                    label {
                                        font-size: 18px !important;
                                        opacity: 0.8;
                                    }

                                    .stars {
                                        display: flex;
                                        justify-content: center;
                                        font-size: 24px;

                                        .star {
                                            cursor: pointer;
                                            color: #ccc;
                                            margin: 0 2px;
                                            font-size: 25px !important;
                                        }
                                    }

                                    .form-group {
                                        .form-control {
                                            width: 100%;
                                            // background: #f8f9fa;
                                            color: $text-c7-grey;
                                            font-size: 18px;
                                            font-weight: normal;
                                            font-style: normal;
                                            padding: 0px 25px;
                                            border: 1px solid #eee;
                                            outline: none;
                                            height: 150px;
                                            display: inline-block;
                                            line-height: 50px;
                                            box-shadow: none;
                                            overflow: visible;
                                            border-radius: 8px;
                                        }
                                    }

                                    .button-send-comment {
                                        padding: 10px 20px;
                                        font-size: 16px;
                                        line-height: 18px;
                                        font-weight: 600;
                                        border-radius: 8px;
                                        cursor: pointer !important;
                                        color: #fff;
                                        background-color: #009f4d;
                                        border-color: #1caf37;
                                    }
                                }

                            }
                        }


                        .star:hover,
                        .star:hover~.star {
                            color: gold;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 426px) {
    .product-detail-container {
        margin-top: 0px !important;

        .row {
            padding: 0 !important;

            .col-xs-12.col-sm-5 {
                padding-right: 0;
            }

            .col-xs-12.col-sm-9 {
                div {
                    p {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }

                    ul {
                        padding-left: 10px !important;
                    }
                }
            }
        }
    }

    .section {
        width: 104%;

        // .btn{
        //     font-size: 0;
        // }
    }

    .menu-items {
        padding-left: 0;
    }
}


// Main Style End