// Base
@import '../scss/base';

// Header and Footer Style
@import '../scss/header_home_demo.scss';

@import '../scss/footer_home_demo.scss';
// Header and Footer Style End

$text-c1-primary:#AAE640;
$text-c2-primary: #1CAF37;
$text-c3-primary:#009f4d;
$text-c4-primary:#015A28;
$text-c5-primary:#408A36;

$text-c1-yellow: #FACF39;
$text-c2-yellow: #F67E3C;
$text-c3-yellow: #C31A24;

// Main Style
body {
    zoom: 0.9;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    margin-top: 20px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
    text-align: justify;
}

span {
    font-size: 12px;
}

// a {
//     color: #333;
//     font-size: 14px;
//     text-decoration: none;
//     margin: 15px 0;
// }

a:hover {
    color: #333 !important;
    opacity: 0.9;
}

a {
    background-color: transparent;
    cursor: pointer !important;
    text-decoration: none !important;
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9 !important;
    opacity: .8;
    margin: 15px 0;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

button {
    border-radius: 5px !important;
    border: 1px solid $text-c1-primary;
    background: $text-c3-primary;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 15px !important;

    // text-decoration: none;
    // background-color: #fff;
    // border: 0px solid #ccc;
    // border-radius: 5px;
    // color: $text-c3-primary;
    // font-weight: bold;
    // cursor: pointer;
    // display: inline-block;
    // padding: 10px 20px;
    // text-align: center;
    // width: 150px;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 540px;

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all .6s ease-in-out;

        form {
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;

            .social-container {
                margin: 20px 0;

                a {
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    height: 40px;
                    width: 40px;
                }
            }
        }

        input {
            background: #F2F3F5;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
        }
    }

    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        z-index: 1;
        opacity: 0;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;

    .overlay {
        background: $text-c1-primary;
        background: linear-gradient(to right, $text-c2-primary, $text-c4-primary) no-repeat 0 0 / cover;
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateY(0);
        transition: transform .6s ease-in-out;

        .link_to_policy {
            font-size: 20px !important;
            line-height: 40px !important;
            // font-weight: 500;
            color: $text-c2-yellow !important;
            opacity: 1 !important;
        }

        .link_to_policy:hover {
            font-weight: 500 !important;
        }

        .overlay-panel {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 40px;
            height: 100%;
            width: 50%;
            text-align: center;
            transform: translateY(0);
            transition: transform .6s ease-in-out;
        }

        .overlay-right {
            right: 0;
            transform: translateY(0);
        }

        .overlay-left {
            transform: translateY(-20%);
        }
    }
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

.icons {
    display: flex;
    width: 30px;
    height: 30px;
    letter-spacing: 15px;
    align-items: center;
}

// Main Style End